<!DOCTYPE html>
<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.14.1/dojo/dojo.js"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dijit/themes/claro/claro.css"
          media="screen">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojox/grid/resources/claroGrid.css"
          media="screen">
    <script>dojoConfig = {parseOnLoad: true}</script>
    <script src="../Tab.js"></script>
    <script src="../table.js"></script>
    <script src="../tableWork.js"></script>
</head>
<body class="claro">
<div id="tc1-prog" style="width: 100%; height: 100%;">
    <div class="tc1cp" title="Tab Work">

        <button type="button" data-dojo-type="dijit/form/Button">demo button</button>

        <div id="work">

        </div>
    </div>
    <div class="tc1cp" title="Tab Case">
        <div id="grid"></div>
    </div>
</div>
</body>
</html>